<div class="card mt-3">
    <div class="card-header h4">Create Post</div>
    <div class="card-body">
        <form class="row g-3">
            <div class="mb-3">
                <label for="createTitleInput" class="form-label">Title</label>
                <input type="text" class="form-control" id="createTitleInput" name="tiitle"
                    onkeyup="clearError('create-title')">
                <small id="error-create-title" class="text-danger">
                </small>
            </div>
            <div class="mb-3">
                <label for="createContentTextarea" class="form-label">Content</label>
                <textarea class="form-control" id="createContentTextarea" name='content' rows="3"
                    onkeyup="clearError('create-content')"></textarea>
                <small id="error-create-content" class="text-danger">
                </small>
            </div>
            <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="createPost()">Create</button>
        </form>
    </div>
</div>